#################################################################################
 # Copyright (C) 2025 the Eclipse BaSyx Authors
 # Copyright (C) 2025 SAP SE
 #
 # Permission is hereby granted, free of charge, to any person obtaining
 # a copy of this software and associated documentation files (the
 # "Software"), to deal in the Software without restriction, including
 # without limitation the rights to use, copy, modify, merge, publish,
 # distribute, sublicense, and/or sell copies of the Software, and to
 # permit persons to whom the Software is furnished to do so, subject to
 # the following conditions:
 #
 # The above copyright notice and this permission notice shall be
 # included in all copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 # EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 # MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 # NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
 # LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
 # OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 # WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 #
 # SPDX-License-Identifier: MIT
#################################################################################

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sm-registry.fullname" . }}
  labels:
    {{- include "sm-registry.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "sm-registry.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- if .Values.apirule.enabled }}
        sidecar.istio.io/inject: "true"
        {{ end -}}
        {{- include "sm-registry.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
      - name: {{ .Chart.Name }}
        securityContext:
          {{- toYaml .Values.securityContext | nindent 12 }}
        image: {{ .Values.image.name }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
        - name: SERVER_PORT
          value: {{ .Values.service.port | quote }}
        {{- if .Values.kafka.connectionString }}
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: {{ .Values.kafka.connectionString }}
        {{- end }}
        {{- if .Values.mongodb.connectionString }}
        - name: SPRING_DATA_MONGODB_URI
          value: {{ .Values.mongodb.connectionString }}
        {{- end }}
        ports:
        - name: http
          containerPort: {{ .Values.service.port }}
          protocol: TCP
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        volumeMounts:
        - mountPath: /workspace/config/application.properties
          name: {{ template "sm-registry.fullname" $ }}-config
          subPath: application.properties
        - mountPath: /application/rbac-rules.json
          name: {{ template "sm-registry.fullname" $ }}-rbac-rules
          subPath: rbac-rules.json
      volumes:
      - name: {{ template "sm-registry.fullname" $ }}-config
        configMap:
          name: {{ template "sm-registry.fullname" $ }}-config
      - name: {{ template "sm-registry.fullname" $ }}-rbac-rules
        configMap:
          name: {{ template "sm-registry.fullname" $ }}-rbac-rules
